@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&subset=latin,cyrillic);

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.masthead h1 {
	font-size: 30px;
  color: #337ab7;
}

.masthead p {
  font-size: 14px;
  color: #337ab7;
  text-transform: uppercase;
}

.fsection {
  background-position: top right;
}

.fsection h2 {
  font-family: sans-serif;
}

.fivr {
  text-align: center;
}

.fivr h4 {
  color: #0B74C4;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.row {
  padding-top: 20px;
  padding-bottom: 48px;
}
.row h3 {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
}
.nav {
  display:inline-block;
  background-color:#0B74C4;
}

.nav a {
  color:#fff;
  text-transform: uppercase;
} 
.nav a:hover {
    color:#0B74C4;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
} 
.carousel-inner>.item>table:first-child {
    margin-left: 11%;
} 
.carousel-inner>.item>table{
    margin-left: 2%;
}
#myCarousel {
	background: rgba(255,255,255, 0.6);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px 0;
} 
#mySmCarousel {
	background: rgba(255,255,255, 0.6);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px 0;
} 
.wbox {
	background: rgba(255,255,255, 0.6);
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px 20px;
}   
table tr td:nth-child(2) {
    text-align: right;
} 
.item th {
/*    color:#FFFFFF;*/
    font-size: 16px;
    text-align: center;
} 
tr {
    border-bottom: 1px solid;
} 
.item td {
    padding-bottom: 5px;
}
.item th {
    padding-bottom: 10px;
}
table tr:last-child {
    border: none;
} 
table tr:first-child {
    border: none;
}  
.phone {
  color: #0B74C4;
}
.phone a{
  font-size: 30px;
  text-decoration: none;
}
#discount {
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}
#discount span {
	color: #FF2F2F;
	font-weight: 900;
	font-size: 20px;
}
table a {
  margin-top:10px;
}
.carousel-inner {
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
}
.blue {
	background-color: #DAF1FF;
}
.redb {
	color: #fff;
	font-weight: 700;
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 38%, rgba(255,124,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(231,56,39,1)), color-stop(38%, rgba(240,47,23,1)), color-stop(100%, rgba(255,124,0,1)));
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 38%, rgba(255,124,0,1) 100%);
	background: -o-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 38%, rgba(255,124,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 38%, rgba(255,124,0,1) 100%);
	background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(240,47,23,1) 38%, rgba(255,124,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ff7c00', GradientType=1 );
}
.redh {
	color: #FF3617;
    font-weight: 900;
}
#price {
  background: url(../img/lazernaya-epilyaciaya-ceni.png) center 0 no-repeat fixed;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
#mprice {
  background: url(../img/lazernaya-epilyaciaya-ceni.png) center 0 no-repeat fixed;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}
@media (max-width: 760px) {
  .aparat {
    display:none !important;
  }
}
@media (max-width: 460px) {
	.price {
		display:none !important;
	}
}
@media (min-width: 460px) {
	.mprice {
		display:none !important;
	}
}
#form {
  background: url(../img/laser-banner.jpg) center 0 no-repeat fixed;  
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.four {
	text-align: center;
}
.four h1 {
	font-size: 13em;
}
.four p {
	font-size: 2em;
}
footer {
    text-align: center;
}
footer p {
    padding-top: 20px;
}

.lead {
  font-family: serif;
  color: red;
  font-weight: bold;
  margin: auto;
}

.btn-primary {
    color: #fff;
    background-color: #FF2F2F;
    border-color: #FF2F2F;
}

a.btn.btn-primary:hover {
  color: #fff;
  background-color: #F12B24;
  border-color: #F12B24;
}

a.btn.btn-primary {
  text-transform: uppercase;
}

.kill-top-margin {
  text-transform:uppercase;
  margin:0!important;
}

h3.kill-top-margin {
  color: #337ab7;
  font-size: 30px;
}

.icon-feature-horizontal-sm .icon i {
  font-size:20px;
  border:1px solid;
  padding:8px;
  border-radius:4px;
}
.facon {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.faconb {
    display: table-cell;
    padding: 12px;
    float: left;
}

#myCarousel h3 {
  text-transform: uppercase;
}
.minh {
  min-height: 220px;
}
.rmarg {
  margin-right: 10%;
}
.lmarg {
  margin-left: 10%;
}
.testi img {
  border-radius: 50%;
  text-align: center;
}
.pad {
  padding: 5px;
}

.padbot{
  padding-bottom: 20px;
}
