@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,latin-ext);
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #E8F1F2;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 60%; /* For at least Firefox */
  min-height: 60%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
}


/*
 * Header
 */
 header {
  background: url('../img/pexels-photo.jpg') no-repeat left fixed;
  background-size: cover;
  margin: 0 auto;
  position: relative;
 }
.masthead {
  z-index: 99999;
}
.masthead .container {
  padding: 0;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-brand {
  display: flex;
}
.navbar-brand span {
  padding-top: 13px;
  padding-left: 5px;
}
.navbar-toggle {
  border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead-nav > li {
  display: block;
  }
}

@media screen and (max-width: 5200px) {
  .cover {
    width: 40%;
  }
  .rb {
    padding-right: 70px;
    text-align: right;
  }
  .rb img {
    margin-right: 30px;
  }
  .lb {
    padding-left: 70px;
    text-align: left;
  }
  .lb img {
    margin-left: 40px;
  }
    .paddx2 {
    padding: 80px;
  }
  .bshow {
	display: none;
  }
  .mnav {
    padding: 0 15%;
  }
  .lfcr {
  	text-align: left;
  }
  .tabl {
  display: table;
  }
  .navbar-brand {
  padding: 25px;
  font-size: 40px;
  }
 .navbar-brand>img {
  height: 40px;
  }
  .tablh {
  display: table;
  min-height: 500px;
 }
 #publish p{
  padding: 60px 0 20px;
  }
  #advertis p{
  padding: 60px 0 20px;
  }
}
@media screen and (max-width: 1372px) {
  .mnav {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .bhide {
  	display: none;
  }
  .bshow {
	display:  block;
  }
    .navbar-brand {
    padding: 5px 0 0;
  }
  .lfcr {
  	text-align: center;
	display: block !important;
  }
  .navbar-brand>img {
  height: 35px;
  }
  .navbar-brand {
  padding: 10px;
  font-size: 30px;
  }
  .mnav {
    padding: 0 3%;
 }
 .masthead-nav > li > a {
    font-size: 14px;
 }
 .navbar>.container {
 	width:100%;
 }
 .tablh {
  min-height: 100px;
 }
  #publish p{
   padding: 10px 0;
  }
  #advertis p{
   padding: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .masthead-nav > li {
  display: block;
  }
  .inner {
    padding: 0;
  }
  .cover {
    width: 60%;
  }
  .masthead-nav > li + li {
    margin-left: 10px;
  }
  .rb {
    padding-right: 0;
    text-align: center;
  }
  .rb img {
    margin-right: 0;
  }
  .lb {
    padding-left: 0;
    text-align: center;
  }
  .lb img {
    margin-left: 0;
  }
    .paddx2 {
    padding: 50px;
  }
  .mnav {
    padding: 0 3%;
  }
  .tabl {
  display: block;
  }
}
@media screen and (max-width: 500px) {
  .masthead-nav > li {
  display: block;
  }
  .inner {
    padding: 0;
  }
  .cover {
    width: 100%;
  }
    .paddx2 {
    padding: 30px;
  }
}

/*
 * Cover
 */

.cover {
  background-color: rgba(19,41,61,0.7);
  padding: 40px;
  border-radius: 5px;
}
.cover h1 {
  text-align: left;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
} 
.midl {
    display: table-cell;
    vertical-align: middle;
}
.container{
  padding: 20px 0;
}
section {
  padding: 20px 0;
}
#exreach i {
  font-size: 80px;
}
#minvent i {
  font-size: 70px;
}
.social {
  font-size: 35px;
}
.comp, .comp h6 {
  font-size: 25px;
  font-weight:900;
}
.masthead {
  background-color: rgba(19,41,61,.9);
}
.navbar-shrink {
  padding: 0;
}
.navbar-brand-shrink {
  padding: 10px;
}
.backblue {
  background-color: #13293D;
}
.backgreen {
  background-color: #1B98E0; 
}
h4 {
  font-size: 35px;
  margin: 0;
  padding: 50px 0 30px;
}
h5 {
    font-size: 25px;
}
.mnav {
  width: 100%;
  margin: 0 auto;
}
hr {
  width: 35%;
}
.padd {
  padding: 40px;
  clear: both;
}
.dsvg {
  width: 150px;
  background: #13293D;
  padding: 15px;
  border-radius: 20%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.6),0 2px 10px 0 rgba(0,0,0,0.6);
}
.ssvg {
  width: 80px;
  background: #1B98E0;
  padding: 15px;
  border-radius: 20%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.7),0 2px 10px 0 rgba(0,0,0,0.7);
}
.btext {
  font-size: 25px;
}
.icot {
  height: 80px;
}
.pad {
  padding: 10px;
  clear: both;
  min-height: 100px;
}
.spad {
  padding: 10px;
}
.mbtn {
  width: 100%;
  background: #1B98E0;
  padding: 15px;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  font-size: 20px;
}

.tdark {
  color:#13293D;
} 
small {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
}
.phimg {
  width: 100%;
  max-width: 500px;
}